<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUMMARIZR: DEEP LEARNING-BASED TEXT SUMMARIZATION</title>
</head>
<body>
    <div class="wrapper">
        <div class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, consequuntur accusamus esse, aspernatur culpa perspiciatis ducimus voluptatibus, laboriosam eius amet facilis tempora. Non porro necessitatibus architecto voluptates ex perspiciatis iure quaerat, placeat asperiores? A officia rem quisquam esse tempora iure aut, qui maxime cum, adipisci nam temporibus hic unde repudiandae.
        </div>
        <div class="input">
            <form action="/results" method="POST">
                <div class="stuff">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam nulla veritatis, a error voluptate quia. Architecto corrupti enim velit iusto.
                </div>
                <label for="text-input">Text:</label>
                <textarea id="text-input" name="text-input" rows="4" cols="100">
                    Your text here!
                </textarea>
                
                <label for="sum-len">Text:</label>
                <textarea id="sum-len" name="sum-len" rows="4" cols="100">
                    Your text here!
                </textarea>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>